body {
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', times, serif;
    color: #000000;
    margin:8px;
    background-color: lightblue;
 }

p.big {font-size:14pt;
    font-style:italic;
    font-family:'Times New Roman';}
 
p.small {font-size:10pt;
         font-family:'Courier New';}
 
h2 {font-family: 'Times New Roman';
    font-size: 24pt; 
    font-weight: bold;}
 
h3 {font-family: 'Courier New'; 
    font-size: 18pt;}
 